/**{

    border: 4px solid black;
}*/
body {
    font-family: sans-serif;
    font-weight: lighter;
    margin: auto;
    height: 500px;
    width: 600px;
    max-width: 100%;
    text-align: center;
    padding-top: 100px;
    background-color: lightgrey;

}


#counter {
    width: 120px;
    height: 100px;
    text-align: center;
    color: slategrey;
    padding-top: 20px;

}

h1{
    font-size: 72px;

}

button{
    width: 120px;
    height: 120px;
    font-size: 60px;
    border-radius: 90px;
    opacity: 10%;
    border: none;
    background-color: lightcyan;
    color: slategrey;
    padding-bottom: 20px;
    text-align: center;

}
label{
    display: inline-block;
}
#reset{
    display: block;
    margin: auto;
    font-size: 40px;
    margin-top: -20px;
}
.blocks{
    display: inline-block;
}

input {
        display: inline;
        margin-top: 25px;
        font-size: 15px;
        border-radius: 90px;
        opacity: 10%;
        border: none;
        background-color: lightcyan;
        color: slategrey;
        padding-bottom: 20px;
        text-align: center;
}
